@model dynamic

@{ 
    int id = ViewBag.id;
}

<div class="common-form-box _post">
    @using (Html.BeginForm("AddPost"))
    {
        <div class="common-form-div">
            <label >Название вопроса</label>
            @Html.TextBox("Title", "")
        </div>
        <div class="common-form-div">
            <label >Текст вопроса</label>
            @Html.TextArea("Info", "", new {@class = "post-add-comm-ta"})
        </div>
        @Html.Hidden("AuthorID", id)
        @Html.Hidden("CreatedAt", DateTime.Now)
        <div class="common-form-div">
            <select multiple="multiple" name="cats" class="add-post-select" size="20">
                @foreach (var a in Model.Categories)
                {
                    <option value="@a.id" title="@a.Name">@a.Name</option>
                }
            </select>
        </div>



        <input type="submit" value="Задать вопрос!" />


    }
</div>
